<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BookStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>welcome.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BookForwardingServlet</display-name>
    <servlet-name>BookForwardingServlet</servlet-name>
    <servlet-class>servlets.BookForward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookForwardingServlet</servlet-name>
    <url-pattern>/BookForward</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForwardingServlet</servlet-name>
    <servlet-class>servlets.ForwardingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardingServlet</servlet-name>
    <url-pattern>/ForwardingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>servlets.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductbookServlet</display-name>
    <servlet-name>ProductbookServlet</servlet-name>
    <servlet-class>servlets.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductbookServlet</servlet-name>
    <url-pattern>/Productbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlets.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>fileloc</param-name>
    <param-value>C:\temp\Java_assgn\bnsk_transactions.txt</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Confirmation</display-name>
    <servlet-name>Confirmation</servlet-name>
    <servlet-class>servlets.Confirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Confirmation</servlet-name>
    <url-pattern>/Confirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Final</display-name>
    <servlet-name>Final</servlet-name>
    <servlet-class>servlets.Final</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Final</servlet-name>
    <url-pattern>/Final</url-pattern>
  </servlet-mapping>
</web-app>